
<p id="notice"><%= notice %></p>

<h1 class = "text-center">Restaurants</h1>

<% if current_user && current_user.admin == true %>
  <%= link_to 'New Restaurant', new_restaurant_path %>
  <br>
  <%= link_to 'New Institution', new_institution_path %>
  <br>
  <%= link_to 'New City', new_city_path %>
<% end %>

<div class="col-md-8 container">
  <% @restaurants.each do |restaurant| %>
    <div class="list-group-item px-20">

      <div class="clearfix">
        <%= image_tag restaurant.image.url(:thumb), class: "img-thumdnail thumb " if restaurant.image? %>

          <p class="clearfix"> <%= link_to "#{restaurant.name}", restaurant, class: "title"%>
            <br>
            <%= Institution.find(restaurant.institution_id).name %>
            <br>
            <i class = "text-muted"><%= City.find(restaurant.city_id).name%>, <%= restaurant.adress%> </i>
          </p>



      </div>




      <hr>

      <hr>


      <!-- <h5>Description</h5>
        <p><%= restaurant.description %></p> -->

      <div class="pjax-container">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <%= link_to 'Show',
              restaurant ,
              class: 'btn btn-success'%>

          <% if current_user && current_user.admin == true %>

            <%= link_to 'Edit',
                edit_restaurant_path(restaurant),
                class: 'btn btn-secondary' %>

            <%= link_to 'Destroy',
                restaurant,
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: 'btn btn-dark'%>
        </div>
        <% end %>
      </div>
    </div>

    <br>
  <% end %>
</div>
