<div class="image">
  <img src = "https://i.imgur.com/GFQagcE.png" class="img-fluid" >
</div>
<h2 class="text">Каталог закладів</h2>
<%= render partial: 'shared/flash',  flash: flash %>
<br>
<div class="col-md-6 container">
  <% @restaurants.each do |restaurant| %>
    <div class="list-group-item px-20">

      <div class="clearfix">
        <%= image_tag restaurant.image.url(:thumb), class: "img-thumdnail thumb " if restaurant.image? %>

          <p class="clearfix"> <%= link_to "#{restaurant.name}", restaurant, class: "title"%>
            <br>
            <%= Institution.find(restaurant.institution_id).name %>
            <br>
            <i class = "text-muted"><%= City.find(restaurant.city_id).name%>, <%= restaurant.adress%> </i>
          </p>
      </div>
      <hr>
      <i class = "text-muted">Кухня : </i><%= restaurant.kitchen%>
      <br>
      <i class = "text-muted">Робочі години : </i><%= restaurant.work%>
      <hr>


      <!-- <h5>Description</h5>
        <p><%= restaurant.description %></p> -->

      <div class="pjax-container" align = "center">
        <% if restaurant.menu? %>
          <%= link_to ' ',
              restaurant.menu.url(:large),
              class: 'fas fa-concierge-bell icn_dish',
              style: "color:green"%>
        <% else %>
        <%= link_to ' ',
            restaurant,
            class: 'fas fa-concierge-bell icn_dish',
            style: "color:green"%>
       <% end %>

          <% if current_user && current_user.admin == true %>

          <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
            <%= link_to 'Редагувати',
                edit_restaurant_path(restaurant),
                class: 'btn btn-light' %>

            <%= link_to 'Видалити',
                restaurant,
                method: :delete,
                data: { confirm: 'Ви впевнені?' },
                class: 'btn btn-light'%>
        </div>
        <% end %>
      </div>
    </div>

    <br>
  <% end %>
</div>
