<br>
<div class="col-md-8 container">
  <%= render partial: 'shared/flash',  flash: flash %>
  <div class="list-group-item px-20">

  <h2><%= Institution.find(@restaurant.institution_id).name %> <%= @restaurant.name %></h2>

  <i class = "text-muted"> <i class="fas fa-map-marker-alt"></i> <%= City.find(@restaurant.city_id).name%>, <%= @restaurant.adress%> </i>
<hr>
<br>


  <p>
    <%= image_tag @restaurant.image.url(:large), class: "img-show" if  @restaurant.image? %>
  </p>
  <% if @restaurant.menu?%>
<hr>
  <p>
    <h4><p>Меню :</p></h4>
    <%= link_to "Show menu", @restaurant.menu.url(:large), class:"btn btn-light btn-sm"%>
    <%= image_tag @restaurant.menu.url(:thumb), class: "img-show" if  @restaurant.menu? %>
  </p>
  <% end %>
<hr>
  <p>
    <h4><p>Опис:</p></h4>
    <%= @restaurant.description %>
  </p>

  <p>
    <strong>Кухня:</strong>
    <%= @restaurant.kitchen%>
  </p>


</div>
<hr>



<% @restaurant.comments.each do |comment| %>
  <div class = "alert alert-light">
  <div class="container alert alert-lite contr">
    <i class="fas fa-user"></i> <%=User.find_by_id(comment.user_id).nickname%>: <%= comment.body %>
    <br>
    <i class = "far fa-edit"></i> <%= distance_of_time_in_words(Time.now.hour, Time.now-comment.created_at) %> ago.
  </div>
</div>
<% end %>

<div class="container new_comment_form">
  <div class="coments" id="form_new">
    <div id="form_comment">
      <% if current_user %>
        <h4>Залишити відгук:</h4>
        <%= form_with(model: [ @restaurant, @restaurant.comments.build ]) do |form| %>
          <p>
            <%= form.text_area :body, class:'form-control' %>
          </p>
          <p>
            <%= form.submit "Опублікувати", class:'btn btn-success btn-sm ' %>
          </p>
        <% end %>
        <% else %>
            <i>Зареєструйтесь, щоб залишити відгук.</i>
      <% end %>
    </div>
  </div>
</div>
</div>
