<!DOCTYPE html>
<html>
  <head>
    <title>CourseWork</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/ac7c51298a.js" crossorigin="anonymous"></script>

  </head>

  <body>

    <%= render 'shared/header' %>
    <div style=" background-color: #EBEAEA;">
      <%= yield %>
    </div>
  </body>
  <hr>
  <footer class = " page-footer font-small bg-success">
    <br>
    <img src = "https://i.imgur.com/jqswb49.png" class="rounded mx-auto d-block" width = "40", height= "40">
    <div class = "footer-copyright text-center py-3 ">© 2019 Course_work:
      <strong>RoR</strong><br>
      <i class = "fab fa-facebook" ></i>
      <i class = "fab fa-github"></i>
      <i class = "fab fa-telegram"></i>
    </div>
  </footer>
</html>
